.sequence {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sequence-item {
    --square-size: min(10vw, 15vh);
    margin: var(--square-size);
    font-weight: bold;
    font-size: var(--square-size);
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.choices-item {
    --square-size: min(6vw, 9vh);
    padding: var(--square-size);
    font-weight: bold;
    font-size: var(--square-size);
    cursor: pointer;
}

.choices-item--correct {
    background-color: lightgreen;
}

.choices-item--wrong {
    background-color: pink;
}

.next-arrow-container {
    --vertical: min(4vw, 6vh);
    margin: var(--vertical) 0;
    height: calc(2 * var(--vertical));
    width: 100%;
    position: relative;
}

.next-arrow {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.next-arrow polygon {
    cursor: pointer;
}